* {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	display: flex;
}

a {
	text-decoration: none;
	display: block;
	color: #fff;
}

a:hover {
	color:#c7b299;
}

.section_background_first-block {
	background: url("../img/first-block-image.jpg") no-repeat;
}

.first-block {
	min-height: 1025px;
}

.wrapper {
	
}

.container { 
	margin: auto;
	max-width: 1232px;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 62px;
	color: #fff;
	font-family: Helvetica;
}

.header-logo {
	margin-left: 30px;
	margin-right: auto;
}

.header-logo__img {
	width: 180px;
	height: 56px;
}

.header-menu {
	display: flex;
}

.header-menu__list {
	margin-top: auto;
	margin-bottom: auto;
}

.header-menu__item {
	font-family: Montserrat;
	margin-right: 30px;
}

.header-search {
	display: flex;
	justify-content: space-between;
	width: 71px;
	height: 26px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 64px;
}

.header-search__icon_shopping-basket {
	width: 20px;
	height: 25px;
	background: url("../img/shopping-cart.png") no-repeat;
	background-size: contain;
}

.header-search__icon_search {
	width: 25px;
	height: 25px;
	background: url("../img/search.png") no-repeat;
	background-size: contain;
}

.slogan {
	width: 600px;
	height: 160px;
	margin-top: 300px;
}

.slogan_firstRow {
	width: 456px;
	height: 34px;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
  }

  .slogan_secondRow {
	width: 589px;
	height: 50px;
	font-family: Raleway;
	font-size: 52px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
  }

  .slogan_thirdRow, .slogan_fourthRow {
	width: 562px;
	height: 39px;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
  }