* {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
}

a {
	text-decoration: none;
	display: block;
	color: #fff;
}

a:hover {
	color:#c7b299;
}

.first-block {
	margin: auto 0;
	min-height: 1025px;
	width: 100%;
	background: url("../img/slider.jpg") no-repeat;
}

.wrapper {
	width: 100%;
}

.container { 
	display: flex;
	justify-content: center;
	margin: auto 0;
	width: 90%;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	padding-top: 62px;
	color: #fff;
	
	font-family: Helvetica;
}

.header-logo {
	margin-left: 350px;
	padding-right: 200px;
}

.header-logo__img {
	width: 64px;
	height: 56px;
}

.header-menu {
	display: flex;
	justify-content: space-between;

}

.header-menu__list {

}

.header-menu__item {
	font-family: Montserrat;
	padding: 30px;

}

.header-search {
	display: flex;

}

.header-search__icon_shopping-basket {
	width: 20px;
	height: 25px;
	background: url(/img/search.png);
}

.header-search__icon_search {
	width: 25px;
	height: 25px;
	background: url(/img/search.png);
}
